/*
 * Kafka Admin REST API
 *
 * An API to provide REST endpoints for query Kafka for admin operations
 *
 * API version: 0.3.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kafkainstanceclient

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

type GroupsApi interface {

	/*
	 * DeleteConsumerGroupById Delete a consumer group.
	 * Delete a consumer group, along with its consumers.
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param consumerGroupId The unique ID of the cobsumer group.
	 * @return ApiDeleteConsumerGroupByIdRequest
	 */
	DeleteConsumerGroupById(ctx _context.Context, consumerGroupId string) ApiDeleteConsumerGroupByIdRequest

	/*
	 * DeleteConsumerGroupByIdExecute executes the request
	 */
	DeleteConsumerGroupByIdExecute(r ApiDeleteConsumerGroupByIdRequest) (*_nethttp.Response, error)

	/*
	 * GetConsumerGroupById Get a single consumer group by its unique ID.
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param consumerGroupId The unique ID of the consumer group
	 * @return ApiGetConsumerGroupByIdRequest
	 */
	GetConsumerGroupById(ctx _context.Context, consumerGroupId string) ApiGetConsumerGroupByIdRequest

	/*
	 * GetConsumerGroupByIdExecute executes the request
	 * @return ConsumerGroup
	 */
	GetConsumerGroupByIdExecute(r ApiGetConsumerGroupByIdRequest) (ConsumerGroup, *_nethttp.Response, error)

	/*
	 * GetConsumerGroups List of consumer groups in the Kafka instance.
	 * Returns a list of all consumer groups for a particular Kafka instance.
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @return ApiGetConsumerGroupsRequest
	 */
	GetConsumerGroups(ctx _context.Context) ApiGetConsumerGroupsRequest

	/*
	 * GetConsumerGroupsExecute executes the request
	 * @return ConsumerGroupList
	 */
	GetConsumerGroupsExecute(r ApiGetConsumerGroupsRequest) (ConsumerGroupList, *_nethttp.Response, error)

	/*
	 * ResetConsumerGroupOffset Reset the offset for a consumer group.
	 * Reset the offset for a particular consumer group.
	 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	 * @param consumerGroupId The ID of the consumer group.
	 * @return ApiResetConsumerGroupOffsetRequest
	 */
	ResetConsumerGroupOffset(ctx _context.Context, consumerGroupId string) ApiResetConsumerGroupOffsetRequest

	/*
	 * ResetConsumerGroupOffsetExecute executes the request
	 * @return [][]map[string]interface{}
	 */
	ResetConsumerGroupOffsetExecute(r ApiResetConsumerGroupOffsetRequest) ([][]map[string]interface{}, *_nethttp.Response, error)
}

// GroupsApiService GroupsApi service
type GroupsApiService service

type ApiDeleteConsumerGroupByIdRequest struct {
	ctx _context.Context
	ApiService GroupsApi
	consumerGroupId string
}


func (r ApiDeleteConsumerGroupByIdRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.DeleteConsumerGroupByIdExecute(r)
}

/*
 * DeleteConsumerGroupById Delete a consumer group.
 * Delete a consumer group, along with its consumers.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param consumerGroupId The unique ID of the cobsumer group.
 * @return ApiDeleteConsumerGroupByIdRequest
 */
func (a *GroupsApiService) DeleteConsumerGroupById(ctx _context.Context, consumerGroupId string) ApiDeleteConsumerGroupByIdRequest {
	return ApiDeleteConsumerGroupByIdRequest{
		ApiService: a,
		ctx: ctx,
		consumerGroupId: consumerGroupId,
	}
}

/*
 * Execute executes the request
 */
func (a *GroupsApiService) DeleteConsumerGroupByIdExecute(r ApiDeleteConsumerGroupByIdRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsApiService.DeleteConsumerGroupById")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumer-groups/{consumerGroupId}"
	localVarPath = strings.Replace(localVarPath, "{"+"consumerGroupId"+"}", _neturl.PathEscape(parameterToString(r.consumerGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetConsumerGroupByIdRequest struct {
	ctx _context.Context
	ApiService GroupsApi
	consumerGroupId string
	topic *string
}

func (r ApiGetConsumerGroupByIdRequest) Topic(topic string) ApiGetConsumerGroupByIdRequest {
	r.topic = &topic
	return r
}

func (r ApiGetConsumerGroupByIdRequest) Execute() (ConsumerGroup, *_nethttp.Response, error) {
	return r.ApiService.GetConsumerGroupByIdExecute(r)
}

/*
 * GetConsumerGroupById Get a single consumer group by its unique ID.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param consumerGroupId The unique ID of the consumer group
 * @return ApiGetConsumerGroupByIdRequest
 */
func (a *GroupsApiService) GetConsumerGroupById(ctx _context.Context, consumerGroupId string) ApiGetConsumerGroupByIdRequest {
	return ApiGetConsumerGroupByIdRequest{
		ApiService: a,
		ctx: ctx,
		consumerGroupId: consumerGroupId,
	}
}

/*
 * Execute executes the request
 * @return ConsumerGroup
 */
func (a *GroupsApiService) GetConsumerGroupByIdExecute(r ApiGetConsumerGroupByIdRequest) (ConsumerGroup, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ConsumerGroup
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsApiService.GetConsumerGroupById")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumer-groups/{consumerGroupId}"
	localVarPath = strings.Replace(localVarPath, "{"+"consumerGroupId"+"}", _neturl.PathEscape(parameterToString(r.consumerGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.topic != nil {
		localVarQueryParams.Add("topic", parameterToString(*r.topic, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetConsumerGroupsRequest struct {
	ctx _context.Context
	ApiService GroupsApi
	offset *int32
	limit *int32
	size *int32
	page *int32
	topic *string
	groupIdFilter *string
	order *string
	orderKey *string
}

func (r ApiGetConsumerGroupsRequest) Offset(offset int32) ApiGetConsumerGroupsRequest {
	r.offset = &offset
	return r
}
func (r ApiGetConsumerGroupsRequest) Limit(limit int32) ApiGetConsumerGroupsRequest {
	r.limit = &limit
	return r
}
func (r ApiGetConsumerGroupsRequest) Size(size int32) ApiGetConsumerGroupsRequest {
	r.size = &size
	return r
}
func (r ApiGetConsumerGroupsRequest) Page(page int32) ApiGetConsumerGroupsRequest {
	r.page = &page
	return r
}
func (r ApiGetConsumerGroupsRequest) Topic(topic string) ApiGetConsumerGroupsRequest {
	r.topic = &topic
	return r
}
func (r ApiGetConsumerGroupsRequest) GroupIdFilter(groupIdFilter string) ApiGetConsumerGroupsRequest {
	r.groupIdFilter = &groupIdFilter
	return r
}
func (r ApiGetConsumerGroupsRequest) Order(order string) ApiGetConsumerGroupsRequest {
	r.order = &order
	return r
}
func (r ApiGetConsumerGroupsRequest) OrderKey(orderKey string) ApiGetConsumerGroupsRequest {
	r.orderKey = &orderKey
	return r
}

func (r ApiGetConsumerGroupsRequest) Execute() (ConsumerGroupList, *_nethttp.Response, error) {
	return r.ApiService.GetConsumerGroupsExecute(r)
}

/*
 * GetConsumerGroups List of consumer groups in the Kafka instance.
 * Returns a list of all consumer groups for a particular Kafka instance.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiGetConsumerGroupsRequest
 */
func (a *GroupsApiService) GetConsumerGroups(ctx _context.Context) ApiGetConsumerGroupsRequest {
	return ApiGetConsumerGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return ConsumerGroupList
 */
func (a *GroupsApiService) GetConsumerGroupsExecute(r ApiGetConsumerGroupsRequest) (ConsumerGroupList, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  ConsumerGroupList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsApiService.GetConsumerGroups")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumer-groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.size != nil {
		localVarQueryParams.Add("size", parameterToString(*r.size, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.topic != nil {
		localVarQueryParams.Add("topic", parameterToString(*r.topic, ""))
	}
	if r.groupIdFilter != nil {
		localVarQueryParams.Add("group-id-filter", parameterToString(*r.groupIdFilter, ""))
	}
	if r.order != nil {
		localVarQueryParams.Add("order", parameterToString(*r.order, ""))
	}
	if r.orderKey != nil {
		localVarQueryParams.Add("orderKey", parameterToString(*r.orderKey, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetConsumerGroupOffsetRequest struct {
	ctx _context.Context
	ApiService GroupsApi
	consumerGroupId string
	consumerGroupResetOffsetParameters *ConsumerGroupResetOffsetParameters
}

func (r ApiResetConsumerGroupOffsetRequest) ConsumerGroupResetOffsetParameters(consumerGroupResetOffsetParameters ConsumerGroupResetOffsetParameters) ApiResetConsumerGroupOffsetRequest {
	r.consumerGroupResetOffsetParameters = &consumerGroupResetOffsetParameters
	return r
}

func (r ApiResetConsumerGroupOffsetRequest) Execute() ([][]map[string]interface{}, *_nethttp.Response, error) {
	return r.ApiService.ResetConsumerGroupOffsetExecute(r)
}

/*
 * ResetConsumerGroupOffset Reset the offset for a consumer group.
 * Reset the offset for a particular consumer group.
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param consumerGroupId The ID of the consumer group.
 * @return ApiResetConsumerGroupOffsetRequest
 */
func (a *GroupsApiService) ResetConsumerGroupOffset(ctx _context.Context, consumerGroupId string) ApiResetConsumerGroupOffsetRequest {
	return ApiResetConsumerGroupOffsetRequest{
		ApiService: a,
		ctx: ctx,
		consumerGroupId: consumerGroupId,
	}
}

/*
 * Execute executes the request
 * @return [][]map[string]interface{}
 */
func (a *GroupsApiService) ResetConsumerGroupOffsetExecute(r ApiResetConsumerGroupOffsetRequest) ([][]map[string]interface{}, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPost
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  [][]map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GroupsApiService.ResetConsumerGroupOffset")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/consumer-groups/{consumerGroupId}/reset-offset"
	localVarPath = strings.Replace(localVarPath, "{"+"consumerGroupId"+"}", _neturl.PathEscape(parameterToString(r.consumerGroupId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.consumerGroupResetOffsetParameters == nil {
		return localVarReturnValue, nil, reportError("consumerGroupResetOffsetParameters is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.consumerGroupResetOffsetParameters
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
