name: Build
on:
  push:
    branches: [main]
    paths:
      - '**.go'
      - '.openapi/**'
  pull_request:
    branches: [main]
    paths:
      - '**.go'
      - '.openapi/**'
      - '.github/**'

jobs:
  build:
    env:
      GOPATH: /home/runner/work/app-services-sdk-go/go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        # v2
      - uses: dorny/paths-filter@4512585405083f25c027a35db413c2b3b9006d50
        id: filter
        with:
          base: main
          list-files: shell
          filters: |
            github:
              - '.github/**'
            openapi:
              - '.openapi/*'
            go:
              - '**.go'
      - run: echo ${{ steps.filter.outputs.openapi }}
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.16.x
      - name: Check Go modules match source code
        run: ./scripts/go-mod-check.sh
      - name: golangci-lint
        if: steps.filter.outputs.go == 'true'
        # v3
        uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
        with:
          version: v1.43
          args: --timeout 2m0s
