name: Build KAS Fleet Manager API
on:
  repository_dispatch:
    types: [openapi-spec-change]

jobs:
  kas_fleet_manager:
    env:
      BF2_TOKEN: ${{ secrets.BF2_TOKEN }}
      GITHUB_REPO: "${{ github.event.client_payload.github.repository }}"
      OPENAPI_FILE: "${{ github.event.client_payload.openapi.filename }}"

    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v2
      - name: Get API version
        id: setup-api-path
        run: |
          echo '::set-output name=API_VERSION::$(node ./hack/scripts/get-api-version.js kas-fleet-manager-v2beta1.yaml)'
          echo '::set-output name=API_PATH::$(node ./hack/scripts/get-path-mapping.js ${{ env.GITHUB_REPO }})'
      - uses: actions/checkout@v2
      - run: |
          curl -s https://${{ env.BF2_TOKEN }}@raw.githubusercontent.com/${{ env.GITHUB_REPO }}/main/openapi/${{ env.OPENAPI_FILE }} -o ${{ env.OPENAPI_FILE }}
      - uses: craicoverflow/openapi-generator-generate-action@v1
        with:
          generator: go
          input: ${{ env.OPENAPI_FILE }}
          output: "${{ steps.setup-api-path.outputs.api_path }}/${{ steps.setup-api-path.outputs.api_version }}"
          git-user-id: "${{ github.org }}"
          git-repo-id: "${{ github.repository }}"
          additional-properties: "isGoSubmodule=true"
      - run: rm -rf ${{ env.OPENAPI_FILE }}
      - uses: peter-evans/create-pull-request@v3
        with:
          title: "[WIP] chore(kasfleetmanager): re-generate API client"
          token: "${{ secrets.CI_USER_TOKEN }}"
          commit-message: "chore(kasfleetmanager): re-generate API client"
          base: "main"
          draft: true

