name: Validate Go code

on:
  push:
    branches: [linting]
    paths:
      - '**.go'
  pull_request:
    branches: [main]
    paths:
      - '**.go'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [1.15.x, 1.16.x]
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{matrix.version}}
      - name: Checkout code
        uses: actions/checkout@v2